<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="be">
<head>
    <meta charset="UTF-8">
    <title>PROFILE.LADYKA.BY | Главная | Профиль пользователя</title>
</head>
<body>
<div th:if="${auth}">
    <div>
        <label for="username"><b>username</b></label>
        <div id="username" th:text="${dto.username}"></div>
    </div>
    <hr>
    <div>
        <label for="name"><b>name</b></label>
        <div id="name" th:text="${dto.name}"></div>
    </div>
    <hr>
    <div>
        <label for="surname"><b>surname</b></label>
        <div id="surname" th:text="${dto.surname}"></div>
    </div>
    <hr>
    <div>
        <label for="email"><b>email</b></label>
        <div id="email" th:text="${dto.email}"></div>
    </div>
    <hr>
    <div>
        <label for="phone"><b>phone</b></label>
        <div id="phone" th:text="${dto.phone}"></div>
    </div>
    <hr>
    <div>
        <label for="fatherName"><b>fatherName</b></label>
        <div id="fatherName" th:text="${dto.fatherName}"></div>
    </div>
    <hr>
    <div>
        <label for="avatar"><b>avatar</b></label>
        <div id="avatar" th:text="${dto.avatar}"></div>
    </div>
</div>

<div th:if="${(!auth)}">
    <a href="/login">Sing IN</a>
        <br>
    <a href="/join"><b>Sing UP</b></a>
</div>
<footer>
    <div align="center">
        |
        <a href="/">Галоўная</a> |
        <a th:href="${dto.nickname}">Профіль</a> |
        <a href="/settings">Налады</a> |
        <a href="/logout">Выйсці</a> |
    </div>
</footer>
</body>
</html>
