<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="be">
<head>
    <meta charset="UTF-8">
    <title>PROFILE.LADYKA.BY | Главная</title>
</head>
<body>

<div th:if="${auth}">
    <div>
        <form action="/p/save" method="post">
            <div><label for="description"><b>description</b></label><textarea cols="80" id="description"
                                                                              name="description" rows="3"></textarea>
            </div>
            <br>
            <br>
            <input type="submit" value="Save">
        </form>

    </div>

    <hr>
    <div th:each="post: ${posts}">
        <a th:href="'/' + ${post.author} + '/'">
            <div th:text="${post.author}"></div>
        </a>
        <a th:href="'/p/' + ${post.id} + '/'">
            <div th:text="${post.createDateTime}"></div>
        </a>
        <div th:text="${post.description}"></div>
    </div>

</div>

<div th:if="${(!auth)}">
    <a href="/login">Sing IN</a>
    <br>
    <a href="/join"><b>Sing UP</b></a>
</div>

<footer th:if="${auth}">
    <div align="center">
        |
        <a href="/">Галоўная</a> |
        <a href="/p/create">Стварыць новы пост</a> |
        <a th:href="${dto.nickname}">Профіль</a> |
        <a href="/settings">Налады</a> |
        <a href="/logout">Выйсці</a> |
    </div>
</footer>
</body>
</html>
