<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  lang="be">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div align="center">
    <div align="left" th:text="${description}">Текст ошибки, если он есть.</div>
</div>
<form action="/pasword" method="post">

    <input name="password" type="text" th:text="${password}">
    <br>
    <br>
    <input name="pagain" type="text" th:text="${pagain}">
    <br>
    <br>
    <input type="submit" value="Изменить">
</form>
<footer>
    <div align="center">
        <a href="/">Главная</a>
    </div>
</footer>
</body>
</html>